<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPL Planner</title>
    {% block head %} 
    {% endblock %}
</head>
    <body>
        <header>
            <div class="header-logo-container">
                <a href="/">
                    <img src="" alt="The FPL Planner Logo" />
                </a>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href='/about'>About</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>