{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPL Planner</title>
    {% block head %} 
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
</head>
    <body>
        <header>
            <div class="header-logo-container">
                <a href="/">
                    <img src="{% static 'images/premier-league-1.svg' %}" alt="The FPL Planner Logo" />
                </a>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'teams-index' %}">My Teams</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>