{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPL Planner</title>
    {% block head %} 
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
</head>
    <body>
        <header>
            <div class="header-logo-container">
                <a href="/">
                    <img src="{% static 'images/premier-league-1.svg' %}" alt="The FPL Planner Logo" />
                </a>
            </div>
        </header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'teams-index' %}">My Teams</a></li>
                    <li><a href="{% url 'teams-create' %}">Add a team</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li>
                        <form id="logout-form" method="post" action="{% url 'logout' %}">
                          {% csrf_token %}
                          <button type="submit">Log out</button>
                        </form>
                      </li>
                {% else %}
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'home' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>