{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% else %}
  <section class="user-logged">
    <h1>Welcome, {{ user.username }}!</h1>
    <p>Welcome to the FPL planner. If it's your first time here check out the about page.</p>
  </section>
{% endif %}
  
{% endblock %}
  