/* static/css/base.css  */

html {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

/* resets the font size to 62.5% of the user preference - most browser configs = 10px */

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-color: rgb(194, 208, 214);
    --nav-bg: rgba(104, 161, 143, 0.7);
    --nav-bg-ff: rgba(104, 161, 143, 0.9);
    --borders: rgb(38, 32, 70) solid 2px;
    --text-color: rgb(17, 20, 17);
    --link-hover-color: rgb(250, 235, 215);
    --button-bg: rgb(245, 245, 245);
    --button-bg-hover: rgb(226, 226, 226);
    --submit: rgb(26, 128, 0);
    --warn: rgb(62, 141, 222);
    --danger: rgb(112, 52, 147);
    --secondary: rgb(57, 57, 57);
    --card-box-shadow: 5px 5px 6px -1px #aaa;
    --font-xtreme: 4.2rem;
    --font-xxl: 3.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
    
}

header {
    width: 100%;
    background: var(--nav-bg-ff); 
    border-bottom: var(--borders);
}

nav {
    margin: 10px;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

main {
    width: 100%;
    padding: 0 10px;
}

h2 {
    font-size: var(--font-xl);
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

nav a:hover {
    color: var(--link-hover-color);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    padding: 5px 8px;
    list-style: none;
}
li a {
  text-decoration: none;
}
/* Ensure the header container spans the full width */
.header-logo-container {
  width: 100%;
  height: auto; /* Allows height to adjust based on content */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  padding: 0; /* Remove padding if not needed */
}

/* Make the image stretch across the container */
.header-logo-container img {
  width: 100%; /* Stretch the image to fill the container width */
  height: 35px; /* Maintain the aspect ratio */
  object-fit: fill; /* Ensures the image scales proportionally */
}

.page-header {
    display: flex;
    align-items: center;
    margin: 20px;
}

.btn {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

.page-header img {
  height: 40px;
  margin-left: 15px;
}

.page-header img:first-of-type {
  margin-left: 20px;
}

.page-content {
  font-size: var(--font-reg);
}

@media only screen and (min-width: 768px) {
  header {
    /* position: sticky; */
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
  }

  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  nav,
  .header-logo-container {
    margin: 10px 0;
    padding: 0 15px;
  }

  /* visual fix to help align logo */
  .header-logo-container {
    padding-top: 3px;
  }

  nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  .header-logo-container {
    width: 213px;
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }

  .page-header img {
    height: 50px;
    margin-left: 20px;
  }

  .page-header img:first-of-type {
    margin-left: 25px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      background: var(--nav-bg);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 55px);
  }

  header {
    margin: 20px 20px 0 20px;
    width: calc(100vw - 40px);
    max-width: 1920px;
    top: 20px;
    background-color: transparent;
    border-bottom: none;
  }

  nav,
  .header-logo-container {
    margin: 0;
    background: var(--nav-bg-ff);
    border: var(--borders);
    border-radius: 18px;
  }

  nav {
    margin-left: auto;
  }

  .header-logo-container {
    /* visual fix to help align logo */
    padding-top: 6px;
    width: 256px;
    height: 35px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    nav,
    .header-logo-container {
      background: rgba(104, 161, 143, 0.6);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
}
#logout-form button {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

#logout-form button:hover {
  color: var(--link-hover-color);
}
