.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    
  }
  
  .card {
    width: 400px;
    margin: 10px;
    background-color: rgb(113, 124, 137);
    border: var(--borders);
    box-shadow: var(--card-box-shadow);
    border-radius: 15px 15px 15px 15px;
  }
  
  .card-content {
    padding: 10px;
    width: 100%;
    
  }
  .all-players{
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    justify-content: space-evenly;
    color: rgb(38, 32, 70);
  }
  .all-players li {
    font-size: var(--font-l);
  }
  .goalkeeper-list{
    padding: 10px;
  }
  .goalkeeper-list li {
    font-size: var(--font-l);
  }

  .defender-list{
    padding: 10px
  }

  .midfielder-list{
    padding: 10px;
  }

  .forward-list{
    padding: 10px;
  }

  .usr-img {
    width: 100%;
    border-radius: var(--card-border-radius);
  }
  
  .card > a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
    color: bisque;
  }
  
  .card p {
    margin: 5px 0;
    font-size: var(--font-reg);
    color: antiquewhite;
  }
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(38, 32, 70);
}
hr {
  border: 1px solid  rgb(250, 235, 215);
}
