.team-details {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.defenders-container {
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}  
li{
  padding: 10px;
  
}
h2 {
  display: flex;
  align-items: center;
}
.team-actions{
  margin-top: 20px;
}
  #file-input {
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
  }
  
  #file-name {
    margin-bottom: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    .cat-container {
      padding: 35px 30px;
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }
  
    .cat-img {
      width: 25%;
      max-width: 250px;
      margin-right: 25px;
    }
  
    .feedings-toy-container {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
  
    .feedings-toy-container > section {
      width: 45%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .feedings-toy-container {
      padding: 0 40px;
    }
  }
img {
  width:256px;
  height: 256px;
}