{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/teams/teams-detail.css' %}" />
{% endblock %}
{% block content %}
<section class="team-container">
    <div class="team-details">
        <div class="detail-background">
            <img src="{% static '/images/stadium3_generated.jpg' %}" alt="Soccer Stadium and Pitch">
        </div>
        <h1>{{ team.name }}</h1>
        <div class="goalkeeper-details">
            <h2>Goalkeeper</h2>
            <ul> 
                <li>
                    {{ team.goalkeeper }}
                </li>
            </ul>
        </div>
        <div class="defenders-container">
            <h2>Defenders</h2>
            <ul> 
                <li>{{ team.defender1 }}</li>
                <li>{{ team.defender2 }}</li>
                <li>{{ team.defender3 }}</li>
                <li>{{ team.defender4 }}</li>
            </ul>
        </div>
        <div class="midfielders-container">
            <h2>Midfielders</h2>
            <ul> 
                <li>{{ team.midfielder1 }}</li>
                <li>{{ team.midfielder2 }}</li>
                <li>{{ team.midfielder3 }}</li>
            </ul>
        </div>
        <div class="forwards-container">
            <h2>Forwards</h2>
            <ul> 
                <li>{{ team.forward1 }}</li>
                <li>{{ team.forward2 }}</li>
                <li>{{ team.forward3 }}</li>
            </ul>
        </div>
        <div class="team-actions">
            <a href="{% url 'teams-update' team.id %}" class="btn warn">Edit</a>
            <a href="{% url 'teams-delete' team.id %}" class="btn danger">delete</a>
        </div>
    </div>
</section>
{% endblock %}