{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/teams/teams-index.css' %}"/>
{% endblock %}
{% block content %}
<section class="page-header">
    <h1>Team List</h1>
</section>
<hr>
<section class="card-container">
    {% for team in teams %}
        <div class="card">
            <a href="{% url 'teams-detail' team.id %}">
                <div class="card-content">
                    <h2 class="card-title">{{ team.name }} (4-3-3)</h2>
                    <p>GK: {{ team.goalkeeper }} </p>
                    <p> DEFENDERS: {{ team.defender1 }}, {{ team.defender2 }}, {{ team.defender3 }}, {{ team.defender4 }}</p>
                    <p> MIDFIELDERS: {{ team.midfielder1 }}, {{ team.midfielder2 }}, {{ team.midfielder3 }} </p> 
                    <p>FORWARDS: {{team.forward1 }}, {{team.forward2 }}, {{team.forward3 }}  </p>
                </div>
            </a>
        </div>
    {% endfor %}
</section>

<hr>
<div class="all-players">
    <section class="goalkeeper-list">
        <h2>All Goalkeepers</h2>
        <ul>
            {% for goalkeeper in goalkeepers %}
                <li>
                    {{ goalkeeper }}
                </li>
            {% endfor %}    
        </ul>
    </section>
    <section class="defender-list">
        <h2>All Defenders</h2>
        <ul>
            {% for defender in defenders %}
                <li>{{ defender }}</li>
            {% endfor %}
        </ul>
    </section>
    <section class="midfielder-list">
        <h2>All Midfielders</h2>
        <ul>
            {% for midfielder in midfielders %}
                <li>{{ midfielder }}</li>
            {% endfor %}
        </ul>
    </section>
    <section class="forward-list">
        <h2>All Forwards</h2>
        <ul>
            {% for forward in forwards %}
                <li>{{ forward }}</li>
            {% endfor %}
        </ul>
    </section>
</div>

{% endblock %}
